<!DOCTYPE html>
<html lang="zh-HK">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo-Tutor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="px-5 pt-5 my-5 text-center">
            <h1 class="display-4 fw-bold text-body-emphasis">Yo-Tutor!</h1>
            <div class="col-lg-6 mx-auto">
            <p class="lead mb-5">新世代補習配對.</p>
            <div class="d-grid gap-3 justify-contenl-center mb-5 mt-3">
                <button type="button" class="btn btn-primary btn-lg px-4 btn-block" data-bs-toggle="modal" data-bs-target="#form">立即填 Form 登記</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 btn-block" data-bs-toggle="modal" data-bs-target="#case">查詢補習個案</button>
                <a class="btn btn-outline-secondary btn-lg px-4 btn-block" href="https://t.me/+j8kQVCKMX2oxYzg1" target="_blank">加入 TG 群</a>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 btn-block" data-bs-toggle="modal" data-bs-target="#about">關於YoTutor</button>
            </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="case" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="case" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">查詢個案</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">個案編號</label>
                        <input type="number" class="form-control" id="caseId">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">查詢</button>
                </div>
            </div>
        </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="form" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">查詢個案～</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
               <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSevTXv7NsxLOlYJlmzJcciJ617dZFRpiXqPGcCfCHIBqqVqMw/viewform?embedded=true" width="425" height="1668" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            </div>
        </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="about" data-bs-keyboard="false" tabindex="-1" aria-labelledby="about" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">關於YoTutor～</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <h3>Yo~ 我係 Yo Tutor</h3>


                <p>使用 Yo Tutor，你可以：
                    <br>
                    <br>
                    1️⃣ 免費配對學生或導師
                    <br>
                    2️⃣ 直接聯絡導師或學生
                    <br>
                    3️⃣ 讓學生或導師聯絡你
                </p>

                <h3>FAQ:</h3>

                    <h4>Q: Yo Tutor 係咪免費？</h4>
                    <br>
                    <p>
                    冇錯～使用 Yo Tutor 搵補習老師👩‍🏫 招收學生🧑‍🎓是免費的，每個補習個案/導師資訊會刊登 14 日
                    </p>
                    <p>
                    如果你想延長刊登期限，你可以聯絡我哋，我哋會幫你處理～
                    </p>
            </div>
            </div>
        </div>
        </div>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 px-4 my-2 border-top fixed-bottom">
            <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">© YoTutor, 2024</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram"></i></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a></li>
            </ul>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>